.row-header {
  margin: 0 auto;
  padding: 0;
}

.row-content {
  margin: 0 auto;
  padding: 50px 0 50px 0;
  border-bottom: 1px ridge;
  min-height: 400px;
}

.footer {
  background-color: #d1c4e9;
  margin: 0 auto;
  padding: 20px 0 20px 0;
}

.jumbotron {
  padding: 70px 30px 70px 30px;
  margin: 0 auto;
  background-color: #9575cd;
  color: floralwhite;
}

.address {
  font-size: 80%;
  margin: 0;
  color: #0f0f0f;
}

@media screen and (max-width: 800px) {
  .row-undisplayed p {
    display: none;
  }
}

hr {
  width: 100%;
}

/*---------------EXERCISE 6 & 7*/

body {
  padding: 50px 0 0 0;
  z-index: 0;
}

.navbar-dark {
  background-color: #512da8;
}

/* EXCERCISE 11 */

.tab-content {
  border-left: 1px sold #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

/* EXCERISE 13 */

.carousel {
  margin-bottom: 50px;
  background: #512DA8;
}

.carousel-item {
  height: 900px;
}

.carousel-item img {
  min-height: 100%;
  max-width: 100%;
  margin: auto;
}